<div class="row">

  <div class = "col-md-12">
    <center><img src="Logo.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
    <p>Keep track of your expenses, income and help manage your money responsibly and effectively</p>
  </div>

</div>

<div class="container text-center">
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <p><%= link_to "Compare Months", compare_new_path%>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <p><%= link_to "Trends", trend_new_path%>
      </div>
    </div>

  </div> -->


  <div class="row">
    <div class="col-sm-3">
      <center><img src="Budget.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
      <!-- <p><%= link_to image_tag('Budget.png', class: "img-responsive"), budgets_display_path%></p> -->
      <!-- <p><%= link_to image_tag("http://placehold.it/150x80?text=IMAGE", class: "img-responsive"), budgets_display_path%></p> -->
      <p><%= link_to "Budget", budgets_display_path, class: "btn btn-default"%>
    </div>
    <div class="col-sm-3">
      <center><img src="Calendar.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
      <p><%= link_to "Calendar", calendar_new_path, class: "btn btn-default"%></p>
    </div>
    <div class="col-sm-3">
      <center><img src="Compare.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
      <p><%= link_to "Compare", compare_new_path, class: "btn btn-default"%>
    </div>
    <div class="col-sm-3">
      <center><img src="Trend.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
      <p><%= link_to "Trend", trend_new_path, class: "btn btn-default"%>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Eden Shoshan, Elena Stoeri-D'Arrigo, Mojir Samimi, Karishma Reddy Khan</p>
</footer>

</body>
</html>
