<div class="row">

  <div class = "col-md-12">
    <center><%= image_tag("Logo2.png", :class => "style_image")%></center>
    <h4>Keep track of your expenses, income</h4>
    <h4>and manage your money responsibly and effectively</h4>
  </div>

</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
      <center><%= link_to image_tag("Budget2.png", class: "img-responsive", id: "style_image"), budgets_display_path%></center>
      <%= link_to "Budget", budgets_display_path, class: "btn btn-custom"%>
    </div>
    <div class="col-sm-3">
      <center><%= link_to image_tag("Calendar2.png", class: "img-responsive", id: "style_image"), calendar_new_path%></center
      <p><%= link_to "Calendar", calendar_new_path, class: "btn btn-custom"%></p>
    </div>
    <div class="col-sm-3">
      <center><%= link_to image_tag("Compare2.png", class: "img-responsive", id: "style_image"), compare_new_path%></center
      <p><%= link_to "Compare", compare_new_path, class: "btn btn-custom"%></p>
    </div>
    <div class="col-sm-3">
      <center><%= link_to image_tag("Trend2.png", class: "img-responsive", id: "style_image"), trend_new_path%></center
      <p><%= link_to "Trend", trend_new_path, class: "btn btn-custom"%></p>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Eden Shoshan, Elena Stoeri-D'Arrigo, Mojir Samimi, Karishma Reddy Khan</p>
</footer>

</body>
</html>
