<div class="row">
  <div class="col-md-12">
    <center><img src="Logo.png" style="width: auto; height: auto; max-width: 300px; max-height: 200px"></center>
    <h2><center>YPPF: Young Professional Personal Finance</center></h2>
    <p><center>Keep track of your expenses, income and help manage your money responsibly and effectively</center></p>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <p><%= link_to "Compare Months", compare_new_path%>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <p><%= link_to "Trends", trend_new_path%>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-4">
      <p><%= link_to image_tag("http://mediad.publicbroadcasting.net/p/wesa/files/201510/7932571974_0dc16cc081_o.jpg", class: "img-responsive"), budgets_display_path%></p>
      <!-- <p><%= link_to image_tag("http://placehold.it/150x80?text=IMAGE", class: "img-responsive"), budgets_display_path%></p> -->
      <p><%= link_to "Budget", budgets_display_path, class: "btn btn-default"%>
    </div>
    <div class="col-sm-4">
      <%= link_to image_tag("http://www.tollestech.com/wp-content/uploads/2015/08/o-CALENDAR-facebook.jpg", class:"img-responsive"), calendar_new_path%>
      <!-- <p><%= link_to image_tag("http://placehold.it/150x80?text=IMAGE", class:"img-responsive"), datas_add_path%></p> -->
      <p><%= link_to "Calendar", calendar_new_path, class: "btn btn-default"%></p>
    </div>
    <div class="col-sm-4">
      <div class="well well-sm">
       <p><%=link_to "Add Income", incomes_new_path%></p>
      </div>
      <div class="well well-sm">
       <p><%=link_to "Manage Expenses", expense_references_path%></p>
      </div>
      <div class="well well-sm">
       <p><%=link_to "Add Bill", bills_new_path%></p>
      </div>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Eden Shoshan, Elena Stoeri-D'Arrigo, Mojir Samimi, Karishma Reddy Khan</p>
</footer>

</body>
</html>
