<div class="row text-center">
    <text style="color:#333333;font-size:18px;fill:#333333;width:879px;" class="highcharts-title" text-anchor="middle" >Expense</text>
    </div>
<% initialize_expenses%>
<% @expense_categories.each_slice(2) do |categories1, categories2| %>
<% value1 = get_percentage(categories1) if categories1!=nil %>
<% value2 = get_percentage(categories2) if categories2!=nil%>
<div class="container-fluid">
    <div class="row">
        <% if categories1!=nil %>
        <div class="col-md-5">
            <div class="row">
                <div class="col-xs-1 text-left nopad">
                    $0
                </div>

                <div class="col-xs-10 text-center nopad">
                    <a role="button" onclick="clearBadge('expense-category-badge-<%=categories1.id%>');" data-toggle="collapse" href="#expense-instance-collapse-<%= categories1.id%>" aria-expanded="false" aria-controls="collapseExample"> <%= "#{categories1.exp_name}" %></a> <span class="badge" id="expense-category-badge-<%=categories1.id%>"></span>
                </div>


                <div class="col-xs-1 text-right nopad" id="sum-proj-category-<%=categories1.id%>">
                    $<%= get_sumProj(categories1) %>
                </div>
            </div>
            <div class="row">

                <div class="bar-wrap">
                    <div class="progress">
                        <div id="progress-bar-cat-<%=categories1.id%>" class="progress-bar <%= get_progress_type(value1 * 100) %>" role="progressbar" aria-valuenow="<%= get_sumAct(categories1)%>" aria-valuemin="0" aria-valuemax="<%= get_sumProj(categories1) %>" style="width: <%= value1 * 100 %>%"></div>

                    </div>

                    <div style="left:0%" class="progress-marker"></div>
                    <div style="right:0%" class="progress-marker"></div>

                </div>

            </div>
            <div class="row">
                <div class="collapse" id="expense-instance-collapse-<%= categories1.id%>">    
             <%=render(partial: '/budgets/expense_instance',locals: { category: categories1 })%>
                    </div>        
            </div>
        </div>
        <%end%>

        <div class="col-md-2"></div>

        <% if categories2!=nil %>
        <div class="col-md-5">
            <div class="row">
                <div class="col-xs-1 text-left nopad">
                    $0
                </div>


                <div class="col-xs-10 text-center nopad">
                    <a onclick="clearBadge('expense-category-badge-<%=categories2.id%>');" role="button" data-toggle="collapse" href="#expense-instance-collapse-<%= categories2.id%>" aria-expanded="false" aria-controls="collapseExample"><%= "#{categories2.exp_name}" %></a> <span class="badge" id="expense-category-badge-<%=categories2.id%>"></span>
                </div>


                <div class="col-xs-1 text-right nopad" id="sum-proj-category-<%=categories2.id%>">
                    $<%= get_sumProj(categories2) %>
                </div>
            </div>
            <div class="row">

                <div class="bar-wrap">
                    <div class="progress">
                        <div id="progress-bar-cat-<%=categories2.id%>" class="progress-bar <%= get_progress_type(value2 * 100) %>" role="progressbar" aria-valuenow="<%= get_sumAct(categories2)%>" aria-valuemin="0" aria-valuemax="<%= get_sumProj(categories2) %>" style="width: <%= value2 * 100 %>%"></div>

                    </div>

                    <div style="left:0%" class="progress-marker"></div>
                    <div style="right:0%" class="progress-marker"></div>

                </div>

            </div>
            <div class="row">   
                <div class="collapse" id="expense-instance-collapse-<%= categories2.id%>">
                 <%=render(partial: '/budgets/expense_instance',locals: { category: categories2 })%>
                 </div>
                           
        </div>
      </div>
        <% end %>
    </div>
</div>

<% end %>

<!-- Total Expenditure details -->
<div class="col-md-12">
    <div class="row">
        <div class="col-xs-1 text-left nopad">
            $0
        </div>
        <div class="col-xs-10 text-center nopad" id="expenditure-message">
            <%= get_total_expenditure_message(Date.today.month, Date.today.year) %>
        </div>
        <div class="col-xs-1 text-right nopad" id="expenditure-projvalue">
            $<%= get_projvalue(Date.today.month, Date.today.year) %>
        </div>
    </div>
    <div class="row">
        <div class="bar-wrap">
            <div class="progress">
                <div id="progress-bar-expenditure" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= get_actvalue(Date.today.month, Date.today.year)%>" aria-valuemin="0" aria-valuemax="<%= get_projvalue(Date.today.month, Date.today.year)%>" style="width: <%= get_total_expenditure(Date.today.month, Date.today.year)%>%"></div>
            </div>
            <div style="left:0%" class="progress-marker"></div>
            <div style="right:0%" class="progress-marker"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExpenseDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><font color="#ffffe6">Modal title</font></h4>
            </div>
            <div class="modal-body modal-body-custom">
                <div id="expense-detail-form">

                </div>
            </div>
            <div class="modal-footer">
        <button type="button" id="save-transaction" class="btn btn-primary" data-dismiss="modal">
                    Save changes
                </button>
                <button type="button" class="btn btn-black" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="NewOneExpenseReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><font color="#ffffe6">New Expense</font></h4>
            </div>
            <div class="modal-body modal-body-custom">
                <div id="newone-expense-reference-form">

                </div>
            </div>
            <div class="modal-footer">
        <button type="button" id="save-newone-exp-ref" class="btn btn-primary" data-dismiss="modal">
                    Save changes
                </button>
                <button type="button" class="btn btn-black" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#ExpenseDetailModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)// Button that triggered the modal
        var expense_detail_url = button.data('url')// Extract info from data-* attributes
        var expense_name = button.data('expname')
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New transaction for ' + expense_name)
        $.ajax({
            url : expense_detail_url,
            type : "GET"
        });
    })
    
    $('#NewOneExpenseReferenceModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)// Button that triggered the modal
        var newone_expense_ref_url = button.data('url')// Extract info from data-* attributes
        var expense_name = button.data('expname')
        
        $.ajax({
            url : newone_expense_ref_url,
            type : "GET"
        });
    })
    
    $('#save-newone-exp-ref').click(function() {

        $("#newone_expense_reference").submit();
        $('#NewOneExpenseReferenceModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

    })

    $('#save-transaction').click(function() {

        $("#new_expense_detail").submit();

    })
    

$.fn.pageMe = function(opts){
    
    var $this = this,
        defaults = {
            perPage: 7,
            showPrevNext: false,
            hidePageNumbers: false,
            expenseid: 0
        },
        settings = $.extend(defaults, opts);
    
    var listElement = $this;
    var perPage = settings.perPage; 
    var children = listElement.children();
    var pager = $('.pager-'+settings.expenseid);
    pager.empty();
    if (typeof settings.childSelector!="undefined") {
        children = listElement.find(settings.childSelector);
    }
    
    if (typeof settings.pagerSelector!="undefined") {
        pager = $(settings.pagerSelector);
    }
    
    var numItems = children.size();
    var numPages = Math.ceil(numItems/perPage);

    pager.data("curr",0);
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
    }
    
    var curr = 0;
    while(numPages > curr && (settings.hidePageNumbers==false)){
        $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
        curr++;
    }
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
    }
    //alert(pager.html);
    pager.find('.page_link:first').addClass('active');
    pager.find('.prev_link').parent().addClass("disabled");
    
    if (numPages<=1) {
        pager.find('.next_link').parent().addClass("disabled");
    }
    pager.children().eq(1).addClass("active");
    
    children.hide();
    children.slice(0, perPage).show();
    
    pager.find('li .page_link').click(function(){
        var clickedPage = $(this).html().valueOf()-1;
        goTo(clickedPage,perPage);
        return false;
    });
    pager.find('li .prev_link').click(function(){
       
        if (!jQuery(this).parent().hasClass("disabled"))
        {
        previous();
        }
        return false;
    });
    pager.find('li .next_link').click(function(){
         if (!jQuery(this).parent().hasClass("disabled"))
        {
        next();
        }
        return false;
    });
    
    function previous(){
        var goToPage = parseInt(pager.data("curr")) - 1;
        goTo(goToPage);
    }
     
    function next(){
        goToPage = parseInt(pager.data("curr")) + 1;
        goTo(goToPage);
    }
    
    function goTo(page){
        var startAt = page * perPage,
            endOn = startAt + perPage;
        
        children.css('display','none').slice(startAt, endOn).show();
        
        if (page>=1) {
            pager.find('.prev_link').parent().removeClass( "disabled" );
        }
        else {
            pager.find('.prev_link').parent().addClass( "disabled" );
        }
        
        if (page<(numPages-1)) {
            pager.find('.next_link').parent().removeClass( "disabled" );
        }
        else {
            pager.find('.next_link').parent().addClass( "disabled" );
        }
        
        pager.data("curr",page);
        pager.children().removeClass("active");
        pager.children().eq(page+1).addClass("active");
    
    }
};


$(".expense-instance-name").click(function() {
       
       var expense_id =jQuery(this).data("expenseid");
               
       $("#expense-details-table-"+expense_id).pageMe({pagerSelector:"#expense-details-pager-"+expense_id,showPrevNext:true,hidePageNumbers:false,perPage:4,expenseid:expense_id});
      
       
    })

$.fn.updateMyNumber = function(){
    var badge=jQuery(this);
    var cat_badge=badge.text();

if (cat_badge=="")
{
   
var num=1;
}else
{
    
   var num=parseInt(cat_badge)+1;
   
}
badge.html(num);  
badge.prop('style','opacity: 1')
};

function clearBadge(badgeId) {
   var badge=document.getElementById(badgeId); 
   var s=badge.style;
   s.opacity = 1;
    (function fade() {(s.opacity-=.05)<.05?badge.innerHTML="":setTimeout(fade,40)})();
    
};
</script>
