<%= render(partial: 'title')%>
<br/>
<div class="panel panel-plain">
	<div class="panel-heading">
		<%= render(partial: 'toolbar')%>
	</div>
	<div class="row">
	    <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <div id="income-facet">
                <%= render(partial: 'incomes')%>
            </div>
            <br/>
        </div>
        <div class="col-lg-1"></div>
	</div>

	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div id="expense-facet">
				<%= render(partial: 'expenses')%>
			</div>
			<br/>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header modal-header-custom">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"><font color="#ffffe6">Time to update your Budget for the month!</font></h4>
			</div>
			<div class="modal-body modal-body-custom">
				<div id="allinone-facet">
					<%= render(partial: 'allinone')%>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-black" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ExpenseReferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-custom">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><font color="#ffffe6">Modal title</font></h4>
			</div>
			<div class="modal-body modal-body-custom">
				<div id="allinone-expense-reference-form">

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="save-allinone" class="btn btn-primary" data-dismiss="modal">
					Save changes
				</button>
				<button type="button" class="btn btn-black" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>


<script>
    $('#ExpenseReferenceModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)// Button that triggered the modal
        var expense_detail_url = button.data('url')// Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New transaction')
        $.ajax({
            url : expense_detail_url,
            type : "GET"
        });
    })

    $('#save-allinone').click(function() {
        $("#allinonenew_expense_reference").submit();
    })

    $(window).load(function(){
      if('<%= @get_day %>' == 1){
        $('#myModal').modal('show');
      }
    });

  $('#foobar').click(function() {
    $("#new_expense_reference").submit();
  })

  $(function () {
		Highcharts.getOptions().plotOptions.pie.colors = (function () {
      var colors = [ '#ED6A5A', '#36c9c6', '#241563']



      return colors;
  }());
    $('#income-container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            height: 200,
            backgroundColor: '#ffffe6'
        },
        title: {
            text: 'Income',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {

            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                size: 300,
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '100%']
            }

        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            innerSize: '50%',
            data: <%=get_incomes(Date.today.year,Date.today.month).to_json.html_safe%>
        }]
    });
});


</script>
