
<h1 id = "h1ex">Budget for <%=@get_month_year%></h1>

<p id="notice"><%= notice %></p>

<br>

<% @expense_categories = ExpenseCategory.all %>
<% @expense_categories.each_slice(2) do |categories1, categories2| %>
    <% value1 = get_percentage(categories1) %>
    <% value2 = get_percentage(categories2) %>
      <div class="container-fluid">
        <div class="row">
          <% if value1 > 0 %>
          <div class="col-md-5">
            <div class="row">
              <div class="col-xs-1 text-left nopad">
                $0
              </div>
              <div class="col-xs-10 text-center nopad">
                  <%= "#{categories1.exp_name}" %>
              </div>
              <div class="col-xs-1 text-right nopad">
                $<%= "#{get_sumProj(categories1)}" %>
              </div>
            </div>
            <div class="row">
              <div class="bar-wrap">
                <div class="progress">
                  <div class="progress-bar <%= get_progress_type(value1 * 100) %>" role="progressbar" aria-valuenow="<%= get_sumAct(categories1)%>" aria-valuemin="0" aria-valuemax="<%= get_sumProj(categories1) %>" style="width: <%= value1 * 100 %>%">
                  </div>
                </div>
                <div style="left:0%" class="progress-marker"></div>
                <div style="right:0%" class="progress-marker"></div>
              </div>
            </div>
          </div>
          <%end%>

          <div class="col-md-2">
          </div>

          <% if value2 > 0 %>
            <div class="col-md-5">
              <div class="row">
                  <div class="col-xs-1 text-left nopad">
                    $0
                  </div>
                  <div class="col-xs-10 text-center nopad">
                      <%= "#{categories2.exp_name}" %>
                  </div>
                  <div class="col-xs-1 text-right nopad">
                    $<%= "#{get_sumProj(categories2)}" %>
                  </div>
              </div>
              <div class="row">
                <div class="bar-wrap">
                  <div class="progress">
                    <div class="progress-bar <%= get_progress_type(value2 * 100) %>" role="progressbar" aria-valuenow="<%= get_sumAct(categories2)%>" aria-valuemin="0" aria-valuemax="<%= get_sumProj(categories2) %>" style="width: <%= value2 * 100 %>%">
                    </div>
                  </div>
                  <div style="left:0%" class="progress-marker"></div>
                  <div style="right:0%" class="progress-marker"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<div class="col-md-12">
  <div class="row">
      <div class="col-xs-1 text-left nopad">
        $0
      </div>
      <div class="col-xs-10 text-center nopad">
          <%= get_total_expenditure_message(Date.today.month, Date.today.year) %>
      </div>
      <div class="col-xs-1 text-right nopad">
        $<%= "#{get_projvalue(Date.today.month, Date.today.year)}" %>
      </div>
  </div>
  <div class="row">
    <div class="bar-wrap">
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= get_actvalue(Date.today.month, Date.today.year)%>" aria-valuemin="0" aria-valuemax="<%=get_projvalue(Date.today.month, Date.today.year)%>" style="width: <%= get_total_expenditure(Date.today.month, Date.today.year)%>%">
        </div>
      </div>
      <div style="left:0%" class="progress-marker"></div>
      <div style="right:0%" class="progress-marker"></div>
    </div>
  </div>
</div>

<br>

<button type="button" class="btn btn-primary" onclick="window.location.href='<%=expense_references_path%>'">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage Expenses</button>
<br>

<center><%= link_to 'Back to Dashboard', dashboard_new_path %></center>
