<!-- Top 3 expenses -->
<center><h1>Spending Trends over <%=Date.today.year%></h1></center>

<div class="row vertical-align">
  <div class="col-md-5">
    <div class = "panel panel-default">
      <div class = "panel-body">
        <h4>Top 3 Expenses for <%=Date.today.year %> are:</h4>

        <div class = "row">
          <%key = @x.keys[0]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[0]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>

          </div>
        </div>
        <div class = "row">
          <%key = @x.keys[1]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[1]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>
          </div>
        </div>
        <div class = "row">
          <%key = @x.keys[2]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[2]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

</div>

<div class="row">
  <div class="col-md-2">
    <%= form_tag(trend_barchart_path, method: "get", remote: true, role: "form", class: "form", id: "form") do %>
    <div class="form-group">
      <label class="control-label">Category:</label>
      <%= select_tag(:categoryselect, options_for_select(@categories), class: "form-control", :onchange => ("$('#form').submit();")) %>
    </div>
    <%end%>
  </div>

  <div class="col-md-10">
      <div class="initial_results search_results"> </div>
  <div>

</div>

<button onclick="goBack()">Back</button>

<script>
function goBack(){
  window.history.back();
}
</script>

<script>
$(function () {
    $('.initial_results').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Expense Comparison'
        },
        xAxis: {
            categories: <%= @months2.to_json.html_safe %>
        },
        yAxis: {
            title: {
                text: 'Money Spent'
                // y axis - how much money
            }
        },
        series: [{
            // months
            name: '<%= @category_name2 %>',
            data: <%= @values2.to_json.html_safe %>
        }]
    });
});


</script>



<!-- Trend chart for overall spending -->
<script>
$(function () {
    var mdata = <%=@chartarray.to_json.html_safe%>
    var touse = []

    for (i = 0; i < mdata.length; i++) {
      var x = [Date.UTC(mdata[i][0][0], mdata[i][0][1]), mdata[i][1]]
      touse.push(x)
    }
    $('#container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Spending'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: '$$$'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Money',
            data: touse
        }]
    });
});
</script>
