<!-- Top 3 expenses -->
<!-- <h1>Spending Trends over <%=Date.today.year%></h1> -->

<h1 id = "h1ex">Spending Trends</h1>

<% if @categories.empty? %>
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class = "col-md-6">
      <center> You do not have enough data to compare months. </center>
    </div>

    <div class="col-md-3">
    </div>
  </div>

<% else %>


<div class="row vertical-align">
  <div class="col-md-5">
    <div class = "panel panel-default">
      <div class = "panel-body">
        <h4 id="h4ex">Top 3 Expenses for <%=Date.today.year %> are:</h4>

        <div class = "row">
          <%key = @x.keys[0]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[0]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>

          </div>
        </div>
        <div class = "row">
          <%key = @x.keys[1]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[1]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>
          </div>
        </div>
        <div class = "row">
          <%key = @x.keys[2]%>
          <%name = ExpenseCategory.find(key)%>
          <%value = @x.values[2]%>
          <div class = "well vertical-align">
            <div class = "col-md-3">
              <b><%=name.exp_name%></b>
            </div>
            <div class = "col-md-3">
              $<%= value.to_f %>/year
            </div>
            <div class = "col-md-6">
              <%=((value.to_f/@total)*100).round(2)%>% of all spending
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="row">
    <%= form_tag(trend_barchart_path, method: "get", remote: true, role: "form", class: "form", id: "form") do %>
    <div class="form-group">
      <div class="col-md-6">
      <label class="control-label">Compare spending for: </label>
      </div>
      <div class="col-md-3">
      <%= select_tag(:categoryselect, options_for_select(@categories), :style => "min-width: 125px;", class: "form-control", :onchange => ("$('#form').submit();")) %>
      </div>
    </div>
    <%end%>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="initial_results search_results"> </div>
  <div>
</div>

<% end %>


<div class="row">
  <h1> </h1>
  <center><button onclick="goBack()">Back</button></center>
</div>


<script>
function goBack(){
  window.history.back();
}
</script>

<script>
$(function () {
    $('.initial_results').highcharts({
        chart: {
            backgroundColor: '#ffffe6',
            type: 'column',
            style: {
              color: "#241563"
            }
        },
        legend: {
          itemStyle: {
            color: '#241563'
          },
          itemHoverStyle: {
            color: '#241563'
          }
        },
        title: {
            text: '',
            style: {
              color: "#241563"
            }
        },
        xAxis: {
            categories: <%= @months2.to_json.html_safe %>,
            // lineColor: "#241563",
            tickColor: "#241563",
            labels: {
              style: {
                color: "#241563"
              }
            },
            title: {
              style: {
                color: "#241563"
              }
            }
        },
        yAxis: {
            title: {
                text: 'Money Spent',
                style: {
                  color: "#241563"
                }
                // y axis - how much money
            },
            // gridLineColor: "#241563",
            labels: {
              style: {
                color: "#241563"
              }
            }
        },
        series: [{
            // months
            name: '<%= @category_name2 %>',
            data: <%= @values2.to_json.html_safe %>,
            color: '#36c9c6'
        }]
    });
});


</script>



<!-- Trend chart for overall spending -->
<script>
$(function () {
    var mdata = <%=@chartarray.to_json.html_safe%>
    var touse = []

    for (i = 0; i < mdata.length; i++) {
      var x = [Date.UTC(mdata[i][0][0], mdata[i][0][1]-1), mdata[i][1]]
      touse.push(x)
    }
    $('#container').highcharts({
        chart: {
            zoomType: 'x',
            backgroundColor: '#ffffe6',
            type: 'area'
        },
        title: {
            text: 'Spending',
            style: {
              color: "#241563"
            }
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in',
            style: {
              color: "#241563"
            }
        },
        xAxis: {
            type: 'datetime',
            tickColor: "#241563",
            labels: {
              style: {
                color: "#241563"
              }
            },
            title: {
              style: {
                color: "#241563"
              }
            }
        },
        yAxis: {
            title: {
                text: '$$$',
                style: {
                  color: "#241563"
                }
            },
            labels: {
              style: {
                color: "#241563"
              }
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        // [0, Highcharts.getOptions().colors[0]],
                        // [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        [0, '#ED6A5A'],
                        [1, '#fbe1de']
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Money',
            data: touse,
            color: '#ED6A5A'
        }]
    });
});
</script>
