<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Day month:</strong>
  <%= @bill.day_month %>
</p>

<p>
  <strong>Month:</strong>
  <%= @bill.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bill.year %>
</p>

<p>
  <strong>Expiration Month:</strong>
  <%= @bill.expire_month %>
</p>

<p>
  <strong>Expiration Year:</strong>
  <%= @bill.expire_year %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', datas_add_path %>
