<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <%= f.label 'Income title' %><br>
      <%= f.text_field :income %>
    </div>
    <div class="col-md-1">
      <%= f.label 'Type' %><br>
      <%= f.collection_select :incometype, Income::TYPE, :to_s, :to_s,
         :include_blank => true %>
    </div>
    <div class="col-md-2">
      <%= f.label :value %><br>
      <%= f.text_field :value %>
    </div>
    <div class="col-md-1">
      <%= f.label 'Frequency' %><br>
      <%= f.collection_select :frequency, Income::FREQUENCY, :to_s, :to_s,
         :include_blank => true %>
    </div>
    <%= f.hidden_field :day_rec, :id => "date"%>
    <%= f.hidden_field :month, :id => "month"%>
    <%= f.hidden_field :year, :id => "year"%>
    <div class ="col-md-2">
      <p> Date Selection </p>
        <input type="text" id="selection">

      <script>
      $(document).ready(function() {
          $("#selection").datepicker();
          $("button").click(function() {
          	  var selection = $("#selection").val();
              var res = selection.split("/");
              var month = res[0].split("0");
              if (month.length == 2){
                 month = month[1];
               }
               else{
                 month = res[0];
               }
              var date = res[1].split("0");
              if (date.length == 2){
                 date = date[1];
               }
               else{
                 date = res[1];
               }
               $('#date').val(date);
               $('#month').val(month);
               $('#year').val(res[2]);
              // if (departing === "") {
              //   alert("Please select departing and returning dates.");
              // } else {
              //   confirm("Would you like to go to on " + month + "/" + date + "/" + res[2]);
              // }
          });
      });
      </script>
    </div>
  </div>
  <h1></h1>

    <button style="border-color:transparent; background-color:transparent; position:relative; left:-8px">
      <%= f.submit%>
    </button>
<% end %>
