<p id="notice"><%= notice %></p>

<head>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>


<h1>Compare</h1>

<div class = "row">
  <div class = "col-md-6">
    <center><b><%= @month1name %></b></center>
    <center><%=pie_chart @month1expenses%></center>
  </div>
  <div class="col-md-6">
    <center><b><%= @month2name %></b></center>
    <center><%=pie_chart @month2expenses%></center>
  </div>
  <br>
</div>

<div class = "row">
  <div id="container" style="width:100%; height:400px;"></div>
</div>

<button onclick="goBack()">Back</button>

<script>
function goBack(){
  window.history.back();
}
</script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Expense Comparison'
        },
        xAxis: {
            categories: <%= @selectedtypes.to_json.html_safe %>
        },
        yAxis: {
            title: {
                text: 'Money Spent'
                // y axis - how much money
            }
        },
        series: [{
            // months
            name: '<%= @month1name %>',
            data: <%= @month1values.to_json.html_safe %>
        }, {
            name: '<%= @month2name %>',
            data: <%= @month2values.to_json.html_safe %>
        }]
    });
});
</script>
