<!-- <%= form_for(@expense,:url => { :action => "create" },remote: true,:html => {:class => 'form-horizontal'}) do |f| %> -->
<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <%= f.label "Type" %><br>
      <%= f.select(:expense_category_id, options_for_select(@categories)) %>
    </div>
    <div class="col-md-1">
      <%= f.label :frequency %><br>
      <%= f.collection_select :frequency, Expense::FREQUENCY, :to_s, :to_s,
         :include_blank => true %>
    </div>
    <div class="col-md-2">
      <%= f.label 'Expected Value' %><br>
      <%= f.text_field :projvalue %>
    </div>
    <div class="col-md-2">
      <%= f.label 'Actual Value' %><br>
      <%= f.text_field :actvalue %>
    </div>
    <!-- <div class="col-md-2">
      <%= f.label :percent %><br>
      <%= f.number_field :percent %>
    </div> -->

    <div class="col-md-2">
      <%= f.label :bill_id %> <br>
      <%= f.number_field :bill_id %>
    </div>

    <%= f.hidden_field :user_id, :id => current_user.id %>
    <%= f.hidden_field :month, :id => "month"%>
    <%= f.hidden_field :year, :id => "year"%>

    <div class ="col-md-2">
      <%= f.label 'Date Selection' %>
        <input type="text" id="selection">

      <script>
      $(document).ready(function() {
          $("#selection").datepicker();
          $("button").click(function() {
            // alert("Yes");
          	  var selection = $("#selection").val();
              var res = selection.split("/");
              var month = res[0].split("0");
              if (month.length == 2){
                 month = month[1];
               }
               else{
                 month = res[0];
               }
              var date = res[1].split("0");
              if (date.length == 2){
                 date = date[1];
               }
               else{
                 date = res[1];
               }
               //$('#date').val(date);
               $('#month').val(month);
               $('#year').val(res[2]);
          });
      });
      </script>
    </div>
  </div>
  <h1></h1>

  <button type="submit" id="submission" id="bill">
    Create Expense
  </button>
<% end %>
